<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>my books</p>
    <% console.log(booksArr) %>
    <ul>
        <% booksArr.forEach(b=>{ %>
            <li><%= b.volumeInfo.title%></li>
        <% }) %>
    </ul>
</body>

</html>